@charset "utf-8";
/* CSS Document */

/* TESTE */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: central;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: Verdana, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", sans-serif;
	background-color:#E2E2E2;
	
	}

.clearfix {
    clear: both;
}

.wrap {
    width: 940px;
    margin: 4em auto;
}




nav {
    padding: 0 10px;
    position: relative;
}


/* INICIO MENU CSS */
#cssmenu {
	background-color:#E2E2E2;
	width: 100%;
	height: 40px;
	margin-left: -10px;
	padding-right:30px;
	color: #E5436A;
	font-family: Verdana, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", sans-serif;
	position:fixed;
	margin-top: 0px;
		
}

#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu ul {
	list-style-type: none;
	position: relative;
	display: block;
	font-size: 12px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: -10;
	border-bottom: 0px solid #fff;
	zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
	float: left;
	color: #F369;
	text-decoration: none;
	height: 24px;
	padding: 9px 15px 0;
	font-weight: normal;
}
#cssmenu li:hover,
#cssmenu .active {
  text-decoration: none;
  border-bottom: 2px solid #7ab900;
}
#cssmenu li:hover a {
	color: #666;
}
#cssmenu .active a {
  color: #E5436B;
  font-weight: 700;
}

/* FINAL MENU CSS */



body {
	
}

br { clear:left }


#titulo {
	color:#3274BC;
	font-size:36px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	width:100%;
}

#corpo_empresa {
	background-color: #000;
	color: #FFF;
	font-size: 22px;
	font-family:Verdana, Geneva, sans-serif
	width: 100%;
	margin: 0px auto;
	alignment-adjust: central;
	text-align: center;
	
}





#texto_empresa {
	color: #fff;
	font-size: 22px;
	font-family:Verdana, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", sans-serif;
	width: 60%;
	margin: 0px auto;
	alignment-adjust: central;
	text-align:left;}

img {
    max-width: 70%;
}

#logo {
	width: 300	px;
	height: 300px;
	margin: 0px auto;
	alignment-adjust:central;
	
}
	
#espaco {
	background-color: #000;
	width: 100%;
	height: 70px;
	margin: 0px auto;}
	
#final {
	background-color;
	color: #A29314;
	font-size:12px;
	font-family: verdana, Verdana, Geneva, sans-serif;
	width:700px;
	margin: 0px auto;
	alignment-adjust:central;
	text-align:center;
	/*border: 2px solid #000;*/
	/*border-radius: 15px; */


}




